footer { border-top:solid 3px $black;}
.footer-menu{
	width:100%;
	font-size:14px;
	ul {
		list-style:none;
		margin-bottom: 0; padding-left: 0;
		li {
			display:inline; padding: 10px 20px;
			a{color:#9a9a9a;}
		}
	}
}
#back-to-top{cursor:pointer;}
@media(max-width: 992px){
	.footer-menu{
		ul {
			li {
				padding: 10px 10px;
			}
		}
	}
}