@import url('https://fonts.googleapis.com/css?family=GFS+Didot');

@font-face {
	font-family: 'MrsEavesOT-Roman';
	src: url('../fonts/mrseavesot-roman.eot');
	src: url('../fonts/mrseavesot-roman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/mrseavesot-roman.woff2') format('woff2'),
		 url('../fonts/mrseavesot-roman.woff') format('woff'),
		 url('../fonts/mrseavesot-roman.ttf') format('truetype');
} 
  
@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src: url('../fonts/helveticaneueltstd-lt.eot');
	src: url('../fonts/helveticaneueltstd-lt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneueltstd-lt.woff2') format('woff2'),
		 url('../fonts/helveticaneueltstd-lt.woff') format('woff'),
		 url('../fonts/helveticaneueltstd-lt.ttf') format('truetype');
} 
  
@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src: url('../fonts/helveticaneueltstd-md.eot');
	src: url('../fonts/helveticaneueltstd-md.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneueltstd-md.woff2') format('woff2'),
		 url('../fonts/helveticaneueltstd-md.woff') format('woff'),
		 url('../fonts/helveticaneueltstd-md.ttf') format('truetype');
}

//base
html{background:none;}
body{padding-top:140px;position:relative;font-family:'Montserrat', serif; background:$white;color:$black;font-size:18px;}
@media (max-width: 992px){
	body{padding-top: 0;}
}
.container-fluid{width:100%;max-width:1500px;margin-right:auto;margin-left:auto; padding-right:10px; padding-left: 10px;}
a{	&:hover, &:active, &:focus, &:visited{text-decoration: none;}
}
p img.alignleft {
	float: left;
	margin-right: 15px;
}
p img.alignright {
	float: right;
	margin-left: 15px;
}

.font-didot{font-family: 'Didot';}
.font-arial{font-family: 'Arial';}
.font-helvetica-md{font-family: 'HelveticaNeueLTStd-Md';}
.font-helvetica-lt{font-family: 'HelveticaNeueLTStd-Lt';}
.font-eaves-rom{font-family: 'MrsEavesOT-Roman';}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/**********************************************************************************************************/

//balise
code{padding:2px 0;font-size:11px;color:#777;font-style:italic;}
p{margin-bottom:0.625rem}

b{font-weight: 600;}


h1,.h1{font-weight:300;text-transform:uppercase; font-size:25px;}
.h1 b{font-size:40px;}
h2,.h2{font-weight:600;}
h3,.h3{font-weight:600;}
h4,.h4{font-weight:600;}
h5,.h5{font-weight:600;}


@include media-breakpoint-down(sm){
	h1,.h1,.display-1{font-size:2rem}
	h2,.h2,.display-2{font-size:1.875rem}
	h3,.h3,.display-3{font-size:1.25rem}
	h4,.h4,.display-4{font-size:1rem}
	h5,.h5,.display-5{font-size:0.75rem}
}
@media(max-width:500px){
    h1, .h1{
        font-size: 15px;
    }
}
//font
.font-weight-normal{font-weight:500;}
.font-weight-medium, .font-weight-bold{font-weight:600;}
.font-weight-bolder{font-weight:900;}
.font-weight-lighter{font-weight:300;}

.text-decoration-none:hover, a:hover .text-decoration-none{text-decoration:transparent;display:inline-block;width:100%;}
/***********************************************************************************************************/
/*Frontpage*/
.owl-dots{text-align: center;}
.owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    background: $pink;
    display: inline-block;
    margin: 0 15px;
    border-radius: 50%;
    &.active{background: $orange;}
}
.owl-item{text-align: center;}
.crsl-img-container{
	position:relative;height:auto;max-width: 800px;
	img {min-height: 530px;}
}
@media(max-width: 800px){
	.crsl-img-container{
		img {max-height: 530px;min-height: auto;}
	}
}
.crsl_quote{position:absolute;top:0;left:0; padding:40px 20px;background:rgba(0,0,0,.4); font-size:45px; height:100%;}
.author-quote, .company-quote{padding-right: 20px;}
.author-quote{font-size:36px;}
.company-quote{font-size: 23px;}
.quote{padding:0 30px 20px;position:relative;}
.quote:before{
	content:url('../img/quote-1.png');
	position: absolute;
	top:-20px;
	left:0;
}
.quote:after{
	content:url('../img/quote-2.png');
	position: absolute;
	bottom:0;
	right:0;
}
@media(max-width: 792px){
	.crsl_quote{font-size:30px;}
	.author-quote{font-size:25px;}
	.company-quote{font-size: 15px;}
}
.rightblock{
	a{
	    width: 150px;
	    font-size: 12px;
	    float: right;
	}
	.cat{font-size:15px;}
	.titre{font-size:30px;}
	.excerpt{font-size:20px;line-height: 35px;}
}
.leftblock{
	.titre{font-size:45px;}
}
.rightblock, .leftblock{
	.titre{font-style: italic}
}
@media(max-width:500px){
	.rightblock .excerpt {
	    font-size: 16px;
	    line-height: 25px;
	}
	.leftblock{
		.cat{font-size:12px;}
		.titre{font-size:25px;}
	}
	.crsl_quote {
	    font-size: 14px;
	}
	.author-quote {
	    font-size: 18px;
	}
	.company-quote {
	    font-size: 12px;
	}
}
.post-hp:not(.post-hp-first){border-top:solid 2px $orange;}

/*** Page content ***/
.single-post, .page-faq{
	.relative{position: relative;}
	.absolute{position: absolute;}
	.content-1013{
		max-width: 1013px !important;
		margin: 0 auto;
	}
	.content-1365{
		max-width: 1365px !important;
		margin: 0 auto;
	}
	/*heading 1*/
	.heading-1{padding-top:20px;}
	h1{
		color:  #1d1d1b;
		font-size: 30px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;
		font-family:"Didot";
	}
	.category{
		color:  #1d1d1b;
		font-size: 15px;
		line-height: 36px;
		text-transform: uppercase !important;
		text-align: center;
	}
	/*heading 2*/
	.heading-2{				
		font-family:Didot;
		min-height: 70px;
		margin: 0 auto;
	}
	h2{
		color:  #000000;
		font-size: 45px;
		font-weight: 400;
		line-height: 77px;
		text-align: left;
		text-transform: uppercase !important;
		background-color: #DFCBC0;				
		margin: 20px 0;
		padding-left:50px;
	}
	.number{
		top: 0;
		right: 0;
		color:  #000000;
		font-size: 149.85px;
		font-weight: 400;
		line-height: 77px;
		text-align: left;
		font-style: italic;
		margin-right: 50px;
	}
	/*content*/
	.content-text{
		color:  #1d1d1b;
		font-size: 27px;
		line-height: 36px;
		text-align: left;
	}
	.content-text p{
		color:  #1d1d1b;
		font-size: 27px;
		line-height: 36px;
		text-align: left;
		margin:30px 0;
		font-family:"Didot";
	}
	h3{
		font-weight: 300;
		text-transform: uppercase;
		font-size:27px;
		margin: 10px 0;
		letter-spacing:1px;
	}
	.one_column{padding:10px;}
	.one_column p{font-family:'Didot';font-size:27px;line-height:36px;margin:20px 0;}
}
@media(max-width:600px){
	.single-post, .page-faq{
		h2 {
		    font-size: 30px;
		    line-height: 60px;
		    padding-left: 20px;
		}
		.number {
		    font-size: 120px;
		    line-height: 60px;
		    margin-right: 10px;
		}
		.content-text p {
		    font-size: 25px;
		    line-height: 30px;
		}
		h3 {
		    font-size: 24px;
		}
	}
	.page-faq .content-text{
		font-size: 25px;
	    line-height: 30px;
	}
}

/*FAQ*/
.faq-panels{
	button:focus{outline:none;}
	button.btn-panel, button.btn-question{position:relative;}
	button.btn-panel{width:100%;border:none; padding:20px 40px 20px 20px;}
	button.btn-question{
		width:100%;
		border-bottom:solid 1px $black;
		border-top:solid 1px $black;
		border-left:solid 1px $black;
		border-right:solid 1px $black;
		margin-top: -1px;
	    padding: 20px 30px 20px 20px;
	}
	button.btn-panel:after,	button.btn-question:after{
		color: #000;
	    font-weight: lighter;
	    font-size: 45px;
	    position: absolute;
	    font-family: Arial;
	    right: 15px;
	    top: calc( 50% - ( 63px / 2 ) );
	    line-height: 63px;
	}
	button.btn-panel.collapsed:after, button.btn-question.collapsed:after{content:"+";}
	button.btn-panel:after, button.btn-question:after{content:"-";}
	button.btn-question.first-question{margin-top:0;}
}
.documents{
	.doc-link{max-width: 450px;position:relative;padding:20px 40px 20px 20px;}
	.doc-link:after{
	    position: absolute;
	    right: 15px;
	    top: calc( 50% - ( 25px / 2 ) );
	    line-height: 63px;
	    content:"";
	    display: inline-block;
	    width: 25px;
	    height: 25px;
	    background:url('../img/icon-download.png');
	    background-size: contain;
	    background-position: center center;
	}
}